<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/master.css">
  <link rel="stylesheet" href="https://use.typekit.net/qiv6yxq.css">
  <title>:/ — <%= status %> Error</title>
</head>
<body style="text-align: center;">
  <h1>
    <sup style="font-size: 50%;"><%= status %></sup>
     ¯\_(ツ)_/¯
    <sup style="font-size: 50%;"><%= status %></sup>
  </h1>
  <h2><%= message %></h2>
  <p><strong>That's an error, Jim.</strong></p>
  <p>Why don't you head back <a href="/">home</a> now?</p>
</body>
</html>
